/* Since the original website's button classes are used to help style
 * the next button, some of these properties need to be set as `!important` */
._veefeed-next-button {
  position: relative;
  width: 0 !important;
  visibility: hidden;
  transition: width 200ms, visibility 200ms step-end;
  font-size: 1em;
  z-index: 9999;
  overflow: visible !important;
}

/* Make the button bigger on Twitch */
.qa-controls-bottom ._veefeed-next-button {
  margin-left: 4px;
}

.qa-controls-bottom ._veefeed-next-button svg path {
  transform: scale(1.35) translate(-5px, -5px)
}

._veefeed-next-button._veefeed-show {
  width: 3em !important;
  visibility: visible;
  transition: width 200ms;
}

/* Hide YouTube's own Next Video button when veefeed's is shown. */
._veefeed-next-button + .ytp-next-button {
  transition: width 200ms, visibility 200ms step-end;
}

._veefeed-next-button._veefeed-show + .ytp-next-button {
  width: 0;
  visibility: none;
}

._veefeed-next-button svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 3em;
  fill: #fff;
}

._veefeed-next-video {
  position: absolute;
  left: -3em;
  bottom: calc(4em + 5px);
  display: none;
  width: 312px;
  height: 94px;
  padding: 2px;
  background-color: rgba(28, 28, 28, 0.9);
  border-radius: 2px;
  overflow: hidden;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  color: rgba(238, 238, 238);
}

.qa-controls-bottom ._veefeed-next-video {
  bottom: calc(4em + 30px);
}

._veefeed-next-video ._veefeed-left-side {
  position: relative;
}

._veefeed-next-video ._veefeed-left-side img {
  width: 160px;
  min-width: 160px;
  height: 90px;
}

._veefeed-next-video ._veefeed-left-side ._veefeed-length {
  position: absolute;
  bottom: 3px;
  right: 3px;
  padding: 2px 4px;
  box-sizing: content-box;
  background-color: rgba(28, 28, 28, 0.9);
  height: 15px;
  vertical-align: top;
}

._veefeed-next-video ._veefeed-right-side {
  padding: 4px 9px;
}

._veefeed-next-video ._veefeed-right-side ._veefeed-title-head {
  color: rgba(170, 170, 170) !important;
}

._veefeed-next-video ._veefeed-right-side ._veefeed-title {
  color: rgba(238, 238, 238) !important;
}

body._veefeed-ended ._veefeed-next-button path,
.ytp-play-button[title="Replay"] + ._veefeed-next-button path {
  stroke: #6294df;
  fill: #6294df;
}

._veefeed-next-button:hover ._veefeed-next-video,
body._veefeed-ended ._veefeed-next-video,
.ytp-play-button[title="Replay"] + ._veefeed-next-button ._veefeed-next-video {
  display: flex;
  border: 1px solid #6294df;
}

body._veefeed-queued-video .recommendations-overlay {
  display: none;
}
