/* Since the original website's button classes are used to help style
 * the next button, some of these properties need to be set as `!important` */
.veefeed-next-button {
  position: relative;
  width: 0 !important;
  visibility: hidden;
  transition: width 200ms, visibility 200ms step-end;
  font-size: 1em;
  z-index: 9999;
  overflow: visible !important;
}

.veefeed-next-button.veefeed-show {
  width: 3em !important;
  visibility: visible;
  transition: width 200ms;
}

/* On YouTube, its own next button will be hidden when veefeed's is shown. */
.veefeed-next-button + .ytp-next-button {
  transition: width 200ms, visibility 200ms step-end;
}

.veefeed-next-button.veefeed-show + .ytp-next-button {
  width: 0;
  visibility: none;
}

.veefeed-next-button svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 3em;
  fill: #fff;
}

.veefeed-next-video {
  position: absolute;
  left: -3em;
  bottom: calc(4em + 20px);
  display: none;
  width: 250px;
  height: 59px;
  padding: 2px;
  background-color: rgba(50, 50, 50, 0.7);
  overflow: hidden;
}

.veefeed-next-video .veefeed-left-side {
  position: relative;
}

.veefeed-next-video .veefeed-left-side img {
  width: 98px;
  min-width: 98px;
  height: 55px;
}

.veefeed-next-video .veefeed-left-side .veefeed-length {
  position: absolute;
  bottom: 2px;
  right: 2px;
  padding: 0 4px;
  background-color: #000;
  color: #fff;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
  vertical-align: top;
  opacity: 0.75;
}

.veefeed-right-side {
  padding-left: 10px;
  font-size: 12px;
  line-height: 20px;
}

.veefeed-next-video .veefeed-right-side .veefeed-title-head {
  color: #aaa !important;
}

.veefeed-next-video .veefeed-right-side .veefeed-title {
  color: #fff !important;
}

.player[data-ended="true"] .veefeed-next-video path,
.ytp-play-button[title="Replay"] + .veefeed-next-video path {
  stroke: #6294df;
  fill: #6294df;
}

.veefeed-next-button:hover .veefeed-next-video,
.player[data-ended="true"] .veefeed-next-video,
.ytp-play-button[title="Replay"] + .veefeed-next-video {
  display: flex;
}
