body {
  font-family: Roboto,arial,sans-serif;
  width: 600px;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #6294df !important;
}

#tabs {
  position: fixed;
  top: 0;
  padding-top: 8px;
  width: 100%;
  background-color: #fff;
  z-index: 9;
  overflow-x: auto;
}

#tabs .tabs-wrapper {
  white-space: nowrap;
  border-bottom: 1px solid #ccc;
  height: 25px;
}

#tabs .tab {
  display: inline-block;
  padding: 0 5px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-bottom: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  transition: color 50ms;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  background-color: lightgrey;
  opacity: 0.5;
  cursor: pointer;
}

#tabs .tab.selected {
  position: relative;
  top: -1px;
  height: 26px;
  background-color: #fff;
  opacity: 1;
}

#tabs .tab:hover .label {
  color: #6294df;
}

#tabs .tab:active .label {
  color: orange;
}

#tabs .tab .badge {
  display: inline-block;
  width: 14px;
  line-height: 14px;
  font-size: 11px;
  padding: 2px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #225F86;
  color: #ddd;
  text-align: center;
  position: relative;
  top: -2px;
  transition: all 100ms;
}

#tabs .tab .badge:empty {
  width: 0;
  padding: 0;
  margin: 0;
}

#content {
  min-height: 120px;
  margin-top: calc(1em + 25px);
}

#content > * {
  display: none;
}

#content > *.selected {
  display: block;
}

.video {
  display: flex;
  border-bottom: 1px solid grey;
  margin-right: 4px;
  overflow: hidden;
  height: 118px;
  transition: height 250ms ease-out;
}

.left-side {
  position: relative;
  height: 110px;
  margin: 4px 8px 0 2px;
}

.left-side:hover {
  outline: 2px solid #6294df;
}

.left-side img {
  width: 196px;
  height: 110px;
}

.left-side .length {
  position: absolute;
  bottom: 2px;
  right: 2px;
  padding: 0 4px;
  background-color: #000;
  color: #fff;
  height: 14px;
  line-height: 14px;
  font-size: 11px;
  font-weight: 500;
  vertical-align: top;
  opacity: 0.75;
}

.source-twitch .left-side .length {
  top: 4px;
  bottom: auto;
}

.watched .left-side {
  opacity: 0.75;
}

.watched .left-side:before,
.playing .left-side:before,
.queued .left-side:before {
  position: absolute;
  left: 2px;
  top: 2px;
  padding: 2px 4px;
  font-weight: 500;
  background-color: #000;
  opacity: 0.75;
}

.watched .left-side:before,
.queued .left-side:before {
  font-size: 11px;
  line-height: 1.3em;
}

.watched:not(.playing) .left-side:before {
  color: #fff;
  content: "WATCHED";
}

.queued:not(.playing) .left-side:before {
 color: #6294df;
 content: "QUEUED";
}

.playing .left-side:before {
  font-size: 14px;
  border-radius: 4px;
  color: #C31313;
  content: "▶";
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-name: backAndForth;
}

@keyframes backAndForth {
  0%   { left: 2px; }
  50%  { left: 6px; }
  100% { left: 2px; }
}

.left-side .game {
  position: absolute;
  width: 42px;
  height: 57px;
  border: 2px solid #fff;
  border-right: none;
  border-bottom: none;
  right: 0;
  bottom: 0;
}

.left-side .game:hover {
  border-color: #6294df;
}

.left-side .game img {
  width: 40px;
  height: 55px;
}

.left-side .queue {
  position: absolute;
  left: 4px;
  bottom: 4px;
  background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflsIkBw3.webp) -73px -398px;
  background-size: auto;
  display: inline-block;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #ccc;
  opacity: 0;
  transition: opacity 200ms, transform 250ms;
}

.left-side:hover .queue {
  opacity: 1;
}

.left-side .queue:active {
  background-color: #6294df;
  transform: rotate(-90deg);
}

.video.queued .left-side .queue {
  opacity: 1;
  background-color: #6294df;
  border-color: #000;
}

.video.playing .left-side .queue {
  display: none;
}

.right-side {
  position: relative;
  width: 392px;
  height: 110px;
  margin: 4px 0;
  overflow: hidden;
}

.close {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  text-align: center;
  opacity: 0.5;
  transition: opacity 100ms;
}

.close:hover {
  opacity: 1;
  color: #999 !important;
}

.watched .close {
  display: none;
}

.title {
  margin-right: 24px;
  display: inline-block;
  color: #000;
  font-size: 14px;
  line-height: 1.3em;
  text-overflow: ellipsis;
  font-weight: 500;
  margin-bottom: 3px;
}

.favicon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 4px;
}

 .favicon.source-youtube {
  background-image: url(https://www.youtube.com/favicon.ico);
}

.favicon.source-twitch {
  background-image: url(https://www.twitch.tv/favicon.ico);
}

.user:before {
  content: '\002022';
  margin-right: 4px;
  color: #ccc;
}

.user img {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.user .name {
  color: #999;
  font-size: 100%;
  vertical-align: top;
  margin-bottom: 3px;
}

.user .verified {
  display: inline-block;
  margin-left: 4px;
  width: 12px;
  height: 9px;
  margin-bottom: 2px;
  background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflsIkBw3.webp) -136px -1116px;
  background-size: auto;
  cursor: pointer;
  position: relative;
}

[data-title]:hover:after {
  background-color: #000;
  color: #fff;
  padding: 2px 5px;
  border-radius: 2px;
  content: attr(data-title);
  position: absolute;
  left: 50%;
  top: -2px;
  transform: translate3d(-50%, -100%, 0);
  white-space: pre;
}

a.close[data-title]:hover:after {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.left-side .queue[data-title]:hover:after {
  left: calc(100% + 2px);
  top: 0;
  transform: translate3d(0, 0, 0);
  content: "Add to Queue";
}

.video.queued .left-side .queue[data-title]:hover:after {
  content: "Remove from Queue";
  color: orange;
}

.time, .starts {
  line-height: 1.3em;
  font-size: 100%;
  color: #999;
}

.starts:before {
  content: "Starts: ";
  font-weight: 500;
}

.live {
  display: inline-block;
  border: 1px solid #E62119;
  color: #E62119;;
  padding: 0 4px;
  height: 13px;
  font-size: 11px;
  font-weight: normal;
  line-height: 13px;
}

.views:before {
  content: '\002022';
  margin: 0 5px;
}

.views {
  line-height: 1.3em;
  font-size: 100%;
  color: #999;
}

.views:after {
  content: " views";
}

.no-videos {
  white-space: pre;
  font-size: 200%;
}
