html, body {
  font-family: Roboto,arial,sans-serif;
  min-width: 600px;
}

ul {
  position: relative;
  padding: 0;
  margin: 0;
  transition: height 300ms;
}

a {
  text-decoration: none;
}

a:hover {
  color: #6294df !important;
}

#tabs {
  position: fixed;
  top: 0;
  padding-top: 8px;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  overflow-x: auto;
}

#tabs .tabs-wrapper {
  white-space: nowrap;
  border-bottom: 1px solid #ccc;
  height: 25px;
}

#tabs .tab {
  display: inline-block;
  padding: 0 5px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-bottom: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  transition: color 50ms;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  background-color: lightgrey;
  opacity: 0.5;
  cursor: pointer;
  -webkit-user-select: none;
}

#tabs .tab.selected {
  position: relative;
  top: -1px;
  height: 26px;
  background-color: #fff;
  opacity: 1;
}

#tabs .tab:hover .label {
  color: #6294df;
}

#tabs .tab:active .label {
  color: #2a5ead;
}

#tabs .tab .badge {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  font-size: 11px;
  padding: 2px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #225F86;
  color: #ddd;
  text-align: center;
  vertical-align: text-bottom;
  position: relative;
  transition: all 250ms;
}

#tabs .tab .badge:empty {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

#content {
  min-height: 120px;
  margin-top: calc(1em + 25px);
}

#content > div:not(.selected) {
  display: none;
}

.video {
  position: absolute;
  display: flex;
  border-bottom: 1px solid grey;
  margin-right: 4px;
  overflow: hidden;
  height: 118px;
  transition: height 250ms ease-out, top 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.left-side {
  position: relative;
  height: 110px;
  margin: 4px 8px 0 2px;
  z-index: 9;
}

.left-side:hover {
  outline: 2px solid #6294df;
}

.left-side img {
  width: 196px;
  height: 110px;
}

.left-side .length {
  position: absolute;
  bottom: 2px;
  right: 2px;
  padding: 0 4px;
  background-color: #000;
  color: #fff;
  height: 14px;
  line-height: 14px;
  font-size: 11px;
  font-weight: 500;
  vertical-align: top;
  opacity: 0.75;
}

.left-side .game + .length {
  top: 4px;
  bottom: auto;
}

.watched .left-side {
  opacity: 0.75;
}

.watched .left-side:before,
.playing .left-side:before,
.queued .left-side:before,
.silent-queued .left-side:before {
  position: absolute;
  left: 2px;
  top: 2px;
  padding: 2px 4px;
  font-weight: 500;
  background-color: #000;
  opacity: 0.75;
}

.watched .left-side:before,
.queued .left-side:before {
  font-size: 11px;
  line-height: 1.3em;
}

.watched:not(.playing) .left-side:before {
  color: #fff;
  content: "WATCHED";
}

.silent-queued:not(.playing) .left-side:before {
  background-color: #6294df;
  color: #000;
  content: "QUEUED";
}

.queued:not(.playing) .left-side:before {
  background-color: #000;
  color: #6294df;
  content: "QUEUED";
}

.playing .left-side:before, .play-icon:before {
  display: inline-block;
  padding: 2px 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  border-radius: 4px;
  background-color: #000;
  color: #C31313;
  content: "\025B8";
}

.playing .left-side:before {
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-name: backAndForth;
}

@keyframes backAndForth {
  0%   { left: 2px; }
  50%  { left: 6px; }
  100% { left: 2px; }
}

.left-side .game {
  position: absolute;
  width: 42px;
  height: 57px;
  border: 2px solid #fff;
  border-right: none;
  border-bottom: none;
  right: 0;
  bottom: 0;
}

.left-side .game:hover {
  border-color: #6294df;
}

.left-side .game img {
  width: 40px;
  height: 55px;
}

.left-side .queue, .queue-icon {
  left: 4px;
  background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflsIkBw3.webp) -73px -398px;
  background-size: auto;
}

.left-side .open-new-tab {
  left: 28px;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  color: #B15656;
}

.left-side .queue, .left-side .open-new-tab, .queue-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #ccc;
}

.left-side .queue, .left-side .open-new-tab {
  position: absolute;
  bottom: 4px;
  opacity: 0;
  transition: opacity 100ms, transform 250ms, background-color 100ms;
}

.left-side:hover .queue, .left-side:hover .open-new-tab {
  opacity: 1;
}

.video:not(.animating) .left-side .queue:active {
  background-color: #6294df;
  transform: rotate(-90deg);
}

.video.queued .left-side .queue {
  opacity: 1;
  background-color: #6294df;
  border-color: #000;
}

.left-side .open-new-tab:active {
  background-color: orange;
}

.video.playing .left-side .queue, .video.playing .left-side .open-new-tab {
  display: none;
}

.right-side {
  position: relative;
  width: 392px;
  height: 110px;
  margin: 4px 0;
}

.close {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 16px;
  height: 16px;
  font-size: 18px;
  text-align: center;
  opacity: 0.5;
  transition: opacity 100ms;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
  color: #999 !important;
}

.watched .close {
  display: none;
}

.title {
  margin-right: 24px;
  display: inline-block;
  color: #000;
  font-size: 14px;
  line-height: 1.3em;
  text-overflow: ellipsis;
  font-weight: 500;
  margin-bottom: 3px;
}

.source:not(:first-child):before, .collections:after, .views:before {
  content: '\002022';
  margin: 0 4px;
  color: #bbb;
}

.favicon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 4px;
}

.source {
  position: relative;
}

.favicon.source-youtube {
  background-image: url(https://www.youtube.com/favicon.ico);
}

.favicon.source-twitch {
  background-image: url(https://www.twitch.tv/favicon.ico);
}

.favicon.source-haloruns {
  background-image: url(https://haloruns.com/favicon.png);
}

.favicon.source-speedrundotcom {
  background-image: url(https://www.speedrun.com/themes/Default/favicon.png);
}

.user img {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.user .name {
  color: #999;
  font-size: 100%;
  vertical-align: top;
  margin-bottom: 3px;
}

.user .verified {
  display: inline-block;
  margin-left: 4px;
  width: 12px;
  height: 9px;
  margin-bottom: 2px;
  background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflsIkBw3.webp) -136px -1116px;
  background-size: auto;
  cursor: pointer;
  position: relative;
}

[data-title]:hover:after {
  position: absolute;
  left: 50%;
  top: -2px;
  padding: 2px 5px;
  transform: translate3d(-50%, -100%, 0);
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  content: attr(data-title);
  white-space: pre;
  font-size: 14px;
  z-index: 99;
}

a.close[data-title]:hover:after {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.left-side .queue[data-title]:hover:after,
.left-side .open-new-tab[data-title]:hover:after {
  left: -4px;
  top: calc(-100% - 2px);
  transform: translate3d(0, 0, 0);
  font-size: 12px;
  line-height: 12px;
}

.left-side .queue[data-title]:hover:after {
  content: "Add to Queue";
}

.video.queued .left-side .queue[data-title]:hover:after {
  content: "Remove from Queue";
  color: orange;
}

.video.animating a {
  cursor: default;
}

.time, .starts {
  line-height: 1.3em;
  font-size: 100%;
  color: #999;
}

.starts:before {
  content: "Starts: ";
  font-weight: 500;
}

.live {
  display: inline-block;
  border: 1px solid #E62119;
  color: #E62119;;
  padding: 0 4px;
  height: 13px;
  font-size: 11px;
  font-weight: normal;
  line-height: 13px;
}

.views {
  line-height: 1.3em;
  font-size: 100%;
  color: #999;
}

.no-videos {
  white-space: pre;
  font-size: 200%;
}

.queue-all {
  display: flex;
  align-items: center;
  height: 21px;
  overflow: hidden;
  transition: all 250ms, visibility 100ms step-end;
  padding: 2px;
  border: 1px solid darkblue;
  border-radius: 5px;
  cursor: pointer;
}

.queue-all:active {
  border-color: darkgreen;
}

.queue-all.hidden {
  height: 0;
  padding: 0;
  border-width: 0;
  visibility: hidden;
  transition: all 250ms, visibility 100ms;
}

.queue-all .play-icon {
  margin-right: 5px;
}

.queue-all .label {
  margin-left: 5px;
  font-size: 16px;
}

.queue-all.video-is-playing .play-icon {
  display: none;
}

.mouseover-link {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 2px;
  background: rgba(25, 25, 25, 0.75);
  color: #f3f2e1;
  font-size: 14px;
  z-index: 99;
}
